// FONTS
forText = "DINPro-Light", Sans
forBigTitle = "Code-Pro-Light", Sans

// COLOR MAIN
color-main = #18DDFF

color-main--light = #58E6FF
color-main--lighter = #c0f6ff
color-main--lightest = #d1eaff

color-main--dark = #0CA0F0
color-main--darker = #042e45
color-main--darkest = #042e45

// COLOR BACKGROUND
color-background = ghostwhite

color-background--light = #fff7f7

color-background--dark = #fff7f7

// COLOR TEXT
color-text = #202020
color-text--another = #13111C
text-text--general = #223e60

color-error = #e81a3d

color-active-link = #00e7ff
// color-background--second = #aad8ff

// SIZE
size-menu = 200px
size-menu--minimize = 50px

size-1 = 5px
size-2 = 10px
size-3 = 14px
size-4 = 17px
size-5 = 23px

input-height = 40px