menu
  width size-menu
  position relative
  overflow hidden

.menu--main
  height 100vh
  position fixed
  z-index 5
  display flex
  flex-direction column
  transition .3s width
  ul
    flex 1 1 auto
  &.menu--minimize
    width size-menu--minimize
    & .menu__link
      &.nuxt-link-active
        transform translateX(0px)
      &:hover
        transform translateX(0px)

.menu__link
  position relative
  padding 5px
  display flex
  align-items center
  font-size 1rem
  transition .3s opacity, .4s transform
  & h4
    position absolute
    left 60px

.menu__icon
  transition .3s fill, .3s stroke, .5s 0s filter
  stroke-width 0

.menu__icon-box
  width 40px
  display flex
  justify-content center

.menu__footer
  display flex
  flex-wrap wrap
  justify-content space-around
  padding 5px
  & > *
    margin-top 10px
