.tabs-items
  display flex

.crypto-blocks
  height 100%
  display flex
  align-items center
  overflow hidden
  justify-content space-between

.crypto-block
  display flex
  position relative
  align-items center
  justify-content center
  flex-direction column
  width calc(var(--size-widget-block))
  height calc(var(--size-widget-block))

.crypto-block__icon
  width 70%
  height 70%

.crypto-block__info
  padding 5px 10px
  background rgba(0, 0, 0, .7)
  height 30%
  position absolute
  bottom 0
  width 100%
  display flex
  justify-content space-between
  align-items center
  text-align right

.crypto-block--up
  color #29FC4B 

.crypto-block--down
  color var(--color-second)
