
.widget-block
  margin-bottom 12px
  margin-right 12px
  border-radius 2vmin
  background rgba(0, 0, 0, .5)

.widget-block-height-1
  height calc(var(--size-widget-block) - 12px)

.widget-block-height-2
  height calc(var(--size-widget-block) * 2 - 12px)

.widget-block-height-3
  height calc(var(--size-widget-block) * 3 - 12px)

.widget-block-width-1
  width calc(var(--size-widget-block) - 12px)

.widget-block-width-2
  width calc(var(--size-widget-block) * 2 - 12px)

.widget-block-width-3
  width calc(var(--size-widget-block) * 3 - 12px)

.widget-block-width-4
  width calc(var(--size-widget-block) * 4 - 12px)