.router-animation-enter-active
  animation: coming .2s;
  animation-delay: .2s;
  opacity: 0;

.router-animation-leave-active
  animation going .1s

@keyframes going
  to
    opacity 0

@keyframes coming
  from
    opacity 0
  to
    opacity 1


.error-leave-active
  opacity 1

.error-enter-active, .error-leave-active
  transition all .3s

.error-enter, .error-leave-to
  opacity 0


.slide-out-left-enter-active
  animation slideInLeft .8s
  position absolute

.slide-out-left-leave-active
  animation slideOutRight .8s
  position absolute

@keyframes slideOutLeft
  to
    transform translateX(-100%)

@keyframes slideInLeft
  from
    transform: translateX(-100%)
  to
    transform: translateX(0)

@keyframes slideOutRight
  to
    transform translateX(100%)

@keyframes slideInRight
  from
    transform: translateX(100%)
  to
    transform: translateX(0)