.position-center
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

.wrapper
  width 100vw
  overflow hidden

.w-100
  width 100%

.h-100
  height 100%

.pointer
  cursor pointer

.ta-center
  text-align center

.flex
  display flex

.flex-wrap
  flex-wrap wrap

.flex-center
  display flex
  justify-content center
  align-items center

.ai-center
  align-items center
  display flex

.jc-space-between
  justify-content space-between
  display flex

.fd-column
  flex-direction column
  display flex

.fw-wrap
  display flex
  flex-wrap wrap

.f-11auto
  flex 1 1 auto

.space-between
  display flex
  justify-content space-between

.br-50
  border-radius 50%

.lh-0
  line-height 0

.d-n
  display none

.position-center
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

@import './animation'
@import './size'

@import './blocks/crypto'
@import './blocks/widget'
@import './blocks/headerMenu'
@import './blocks/settings'

@import './fonts/text'
@import './fonts/fonts'

@import './media'